body{
    text-align: center;
    background-image: url(/CSS/raquetas.jpg);
    background-size: cover;


}

#canvas{
    background: black;
    border: solid;
    border-color: green;
}

h1{
    text-align: center;
}
